doctype html
html
    head
        meta(charset="UTF-8")
        
        title Expert Option
    
        link(rel="stylesheet", href="css/main.css")
        script(src="js/app.js")

    body
        header.header
            a.logo(href="/")
