.header
    background #E7E7E7
    height 75px
    border-bottom 1px solid #D0D0D0
    position relative

    .logo
        position absolute
        left 20px
        top 50%
        margin-top -25px
        display block
        width 224px
        height 50px
        background-image url('../images/logo.png')
